body
{
    background-color: #15141f; 
}

#first    /* --------------------------------------------------- title section -------------------------------------- */
{
     width: 100%;
    height: 100%;
}

.container-fluid
{
    padding: 3% 7% 0 7%; 
    margin-bottom: 0;
} 

.navbar    /* ----------------------------------- navbar section ---------------------------------------------- */
{
    padding: 0 0;
}

.navbar-brand
{
    font-size: 2rem;
    font-weight: bold;
}

.nav-item
{
    padding: 0 18px;
}

.nav-link
{
     font-size: 1.3rem;
     font-weight: bold;
}

h1
{
    font-family: 'Merriweather', serif;      /* font-family: 'Tangerine', cursive; */
    font-size: 4rem;
    line-height: 1.5; 
    color: #ffffff;
    padding: 3%;
}

h2
{
    font-family: 'Lateef', cursive;     /* font-family: 'Tangerine', cursive; */
    font-size: 2.5rem; 
    color: #ffffff;
    padding: 2%;
    margin: 30px;
}

#im1
{
    mix-blend-mode: screen;
}

#color
{
    color: #ff6666;
}

#color:hover
{
    text-decoration: none;
    color: coral;
}

h3
{
    color: #E15D44;
    font-family: 'Lateef', cursive;
    font-size: 2rem;
}

h4
{
    font-family: 'Merriweather', serif;      /* font-family: 'Tangerine', cursive; */
    font-size: 4rem;
    line-height: 1.5; 
    color: #E15D44;
    padding: 3%;
}

#skills     /* -------------------------------------------- feature section --------------------------------------------- */
{
    padding: 7% 15%;
   /* background-color: #fff; */
    z-index: 1;
    position: relative;
}

.feature-box
{
    text-align: center;
    padding: 4% 8%;
    
}


.icon   /* ----------------------------------------- icons section ------------------------------------------- */
{
    color: #55B4B0;
    margin-bottom: 1.2rem;
    
}

.icon:hover
{
    color: #E15D44;
}

#last
{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    padding-bottom: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; 
    
}

.bottom
{
    color: #e6e6ff;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    margin: 15px 15px;
}

.bottom:hover
{
    color: #c65353;
}

#copyright
{
    padding-top: 1.2%;
}

